@forward "../abstracts/variables.scss";
@use "../abstracts/variables" as *;

.footer-bar {
    background-color: $primary-color;
    clear: right;
    text-align: center;
    padding: 3rem;
    color: white;

    &__goon-logo {
        width: 9rem
    }

    &__small {
        font-size: 1.6rem;
    }
}