// This file contains all styles related to the logo.

@use "../abstracts" as *;

.logo {
    margin: 0 7rem;
    width: calc(100% - 14rem); //full width - margins
    padding-top: 3rem;

    @media only screen and (max-width: 48em) {
        height: fit-content;
    }

    @media only screen and (max-width: 37.5em) {
        margin: 0 3rem;
        width: calc(100% - 6rem); //full width - margins
    }


    &__container {
        display: inline-block;
        width: 50%;
        vertical-align: top;

        @media only screen and (max-width: 48em) {
            width: 100%;
        }
    }

    &__h1 {
        font-size: 10rem;
        font-weight: bold;
        color: $primary-color;
        line-height: 0;

        @media only screen and (max-width: 62em) {
            font-size: 7rem;
        }

        @media only screen and (max-width: 37.5em) {
            font-size: 5rem;
        }
    }

    &__sequence {
        display: block;
        width: 20rem;

        @media only screen and (max-width: 62em) {
            width: 15rem;
        }

        @media only screen and (max-width: 37.5em) {
            width: 12rem;
        }
    }

    &__a {
        text-decoration: none;
        &:active, &:focus, &:link, &:visited {
            text-decoration: inherit;
            color: inherit;
        }
    }

    &__p {
        width: 100%;
        font-size: 1.6rem;
        margin-top: 5rem;
    }

    &__img-business {
        display: inline-block;
        width: 40%;
        margin-left: 7vw;
        vertical-align: bottom;

        @media only screen and (max-width: 62em) {
            margin-bottom: 5rem;
        }

        @media only screen and (max-width: 48em) {
            display: none;
        }
    }
}