// This file contains all styles related to the sequence.

@use "../abstracts" as *;

.sequence {
    margin: 7rem;

    @media only screen and (max-width: 37.5em) {
        margin: 3rem;
    }
}

.sequence__h2 {
    color: $primary-color;
    font-size: 6.5rem;
    font-weight: bold;
    text-align: center;
    line-height: 1.5;
    padding-bottom: 2rem;

    @media only screen and (max-width: 62em) {
        font-size: 5rem;
    }

    @media only screen and (max-width: 37.5em) {
        font-size: 4rem;
    }
}

.sequence__p {
    font-size: 1.6rem;
}

.sequence__ul {
    margin-top: 4rem;
}

.sequence__li {
    font-size: 1.6rem;
    list-style-type: disc;
    list-style-position: inside;
}

.sequence__strong {
    color: $primary-color;
    font-weight: bold;
}

.sequence__b {
    color: $primary-color;
    font-weight: bold;
}