.page {
    &--home {
        background-image: url("../materials/SVG/Prancheta\ 1.svg");
        background-repeat: no-repeat;
        background-position-x: -22rem;
        background-position-y: 50rem;
    }
}