// This file contains all styles related to the button component.

@use "../abstracts" as *;

.button {
    font-size: 2rem;
    padding: 0 6rem;
    border-radius: 5rem;
    display: block;
    width: fit-content;
    transition: box-shadow 0.2s;
    transition-timing-function: ease-in-out;
    text-decoration: none;
    line-height: 2;
    white-space: nowrap;

    &--blue {
        background-color: $primary-color;
        color: white;
    
        &:hover {
            box-shadow: 0px 0px 5px 1px $primary-color;
        }
    }

    &--white {
        background-color: white;
        color: $primary-color;
    
        &:hover {
            box-shadow: 0px 0px 5px 1px white;
        }
    }

    &--logo {
        margin: 3rem auto 0 auto;
    }

    &--sequence {
        margin: 8rem auto 0 auto;
        @media screen and (max-width: $desktop) {
            padding: 0 1rem;
        }
    }

    &--card {
        margin: auto;
        padding: 0 3rem;
    }

    &--balance {
        padding: 0 3rem;
    }

    &--submit {
        display: inline-block;
        border: none;
    }

    &--contact {
            float: right;
            margin-top: 3rem;
            margin-right: 5rem;
    }
}