// This file contains all styles related to the price component.

@use "../abstracts" as *;

.price {
    display: block;
    position: relative;
    line-height: 2;
    font-weight: bold;
    font-size: 4rem;

    &--seller {
        color: $primary-color;
    }

    &--distributor {
        color: white;
    }

    &--balance {
        font-size: 4rem;
        color: white;
        position: absolute;
        top: 3rem;
        right: 11rem;

        @media only screen and (max-width: 48em) {
            position: static;
            display: block;
            text-align: center;
        }
    }

    &__left-digit {
        display: inline-block;
    }

    &__supsub-container {
        display: inline-block;
        vertical-align: middle;
    }

    &__sup, &__sub {
        display: block;
        line-height: 0.3;
    }

    &__sup {
        font-size: .6em;
    }

    &__sub {
        font-size: .2em;
    }
}